
body {
    font: 1rem "Open Sans", sans-serif;
}

legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
}

.output {
    font: 1rem 'Fira Sans', sans-serif;
}

label {
    margin-top: 1rem;
    display: block;
    font-size: .8rem;
}
button {
    width: 100%;
    height: 100px;
}
#detune, #rate {
    width: 100%;
}
#btn-stop {
    display: none;
}